# ML ZOOMCAMP   ASSIGNMENT 1

In [101]:
import numpy as np
import pandas as pd
df= pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

# ml-zoomcamp homework 1
 Q1. Panda's version
 
 What's the version of panda that i installed?
**Answer:** 2.3.2

In [13]:
# Q1. Code
print(pd.__version__)

2.3.2

## Q2. Records Count
How many records are in the folder?
**Answer:** 9704

In [121]:
# Q2. Code
df.shape[0]

9704

# Q3. Fuel Types
How many fuel types are presented in the data set?
**Answer:** 4

In [33]:
# Q3. Code
print(df["fuel_type"].nunique)

<bound method IndexOpsMixin.nunique of 0       Gasoline
1       Gasoline
2       Gasoline
3         Diesel
4       Gasoline
          ...
9699      Diesel
9700    Gasoline
9701      Diesel
9702      Diesel
9703      Diesel
Name: fuel_type, Length: 9704, dtype: object>

## Q4. Missing values 
How many columns in the dataset have missing values?
**Answer:**  4

In [122]:
# Q4 code

print(len(df.columns[df.isnull().sum()>0]))

4

## Q5. Max Fuel Efficiency
 What's the maximum fuel efficiency of cars from Asia?
 **Answer:** 23.75

In [120]:
# Q5. code
print(df[df["origin"]== "Asia"]["fuel_efficiency_mpg"].max())

23.759122836520497

## Q6. Median value of horsepower
Find the median value of horsepower column in the dataset.
**Answer:** 152
Next, calculate the most frequent value of the same horsepower column.
**Answer:** 152.0
Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
Now, calculate the median value of horsepower once again.
**Answer:** 152.0
Has it changed?
**Answer:** no

In [95]:
# Q6. Code
print(df["horsepower"].median())
most_frequent= df["horsepower"].mode()[0]
print(most_frequent)
df["horsepower"]= df["horsepower"].fillna(most_frequent)
print(df["horsepower"].median())

152.0
152.0
152.0

## Q7. Sum of weights
Select all the cars from Asia
Select only columns vehicle_weight and model_year
Select the first 7 values
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the sum of all the elements of the result?
Note: You just implemented linear regression. We'll talk about it in the next lesson.

0.051
0.51
5.1
51
**Answer:** 0.51

In [118]:
#Q7. Code
cars_asia=df[df["origin"]== "Asia"]
print(cars_asia)

print(cars_asia[["vehicle_weight","model_year"]])
print(cars_asia[["vehicle_weight","model_year"]].iloc[0:7])
X= cars_asia[["vehicle_weight","model_year"]].iloc[0:7].to_numpy()
XTX= X.T.dot(X)
XTX_inv= np.linalg.inv(XTX)
y=np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
w= XTX_inv @ X.T @ y
print("The sum is:", np.sum(w))

      engine_displacement  num_cylinders  horsepower  vehicle_weight  \
8                     250            1.0       174.0     2714.219310
12                    320            5.0       145.0     2783.868974
14                    200            6.0       160.0     3582.687368
20                    150            3.0       197.0     2231.808142
21                    160            4.0       133.0     2659.431451
...                   ...            ...         ...             ...
9688                  260            4.0         NaN     3948.404625
9692                  180            3.0       188.0     3680.341381
9693                  280            2.0       148.0     2545.070139
9698                  180            1.0       131.0     3107.427820
9703                  270            3.0       140.0     2908.043477

      acceleration  model_year origin fuel_type         drivetrain  num_doors  \
8             10.3        2016   Asia    Diesel  Front-wheel drive       -1.0
12            15.1        2010   Asia    Diesel    All-wheel drive        1.0
14            14.9        2007   Asia    Diesel    All-wheel drive        0.0
20            18.7        2011   Asia  Gasoline  Front-wheel drive        1.0
21             NaN        2016   Asia  Gasoline  Front-wheel drive       -1.0
...            ...         ...    ...       ...                ...        ...
9688          15.5        2018   Asia    Diesel    All-wheel drive       -1.0
9692          18.0        2016   Asia  Gasoline  Front-wheel drive        1.0
9693          15.6        2012   Asia    Diesel    All-wheel drive        0.0
9698          13.2        2005   Asia  Gasoline  Front-wheel drive       -2.0
9703          14.7        2005   Asia    Diesel    All-wheel drive       -1.0

      fuel_efficiency_mpg
8               16.823554
12              16.175820
14              11.871091
20              18.889083
21              16.077730
...                   ...
9688            11.054830
9692            11.711653
9693            17.202782
9698            13.933716
9703            14.884467

[3247 rows x 11 columns]
      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]
    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019
The sum is: 0.5187709081074007

## Summary
In this assignment, I explored basic data filtering, missing value detection, and implemented linear regression using NumPy. I learned how to align matrix shapes, invert matrices, and interpret model weights. This notebook demonstrates my ability to work with real-world datasets and apply foundational machine learning techniques.